In [1]:





import datetime
import pytz
import pandas as pd
import MetaTrader5 as mt5
import matplotlib.pyplot as plt
import numpy as np
import pandas_ta as ta

In [2]:





# 30 min time frame
frameM30 = mt5.TIMEFRAME_M30

#1 min time frame
frameM1 = mt5.TIMEFRAME_M1

# 1 hour time frame
frameH1 = mt5.TIMEFRAME_H1

In [3]:





def getAssetList(assetSet = None):
    assetList = []
    if assetSet == 1:
        assetList = ['EURUSD', 'USDCHF']
    return assetList

In [4]:







## Defining the getQuotes method

def getQuotes(mt5TimeFrame, year = 2020, month = 1, day = 1, asset ='EURUSD'):
    
    ## Establishing the connection to MetaTrader 5
    if not mt5.initialize():
        print(f'MT5 initialization failed: Error code = {mt5.last_error}')
        quit()

    # Current time
    currentTime = datetime.datetime.now()

    # Defining the timezone and created utcFrom and utcTo dates
    timeZone = pytz.timezone('Asia/Kolkata')
    utcFrom = datetime.datetime(year, month, day, tzinfo = timeZone)
    utcTo = datetime.datetime(currentTime.year, currentTime.month, currentTime.day, tzinfo = timeZone)
    
    # Retrieving the data and returning it after converting it to pd dataframe
    return pd.DataFrame(mt5.copy_rates_range(asset, mt5TimeFrame, utcFrom, utcTo))

In [5]:



df = getQuotes(frameM30, 2023, 8, 3)
df

,time,open,high,low,close,tick_volume,spread,real_volume
0,1691001000,1.09365,1.09438,1.09335,1.09379,2948,8,0
1,1691002800,1.09379,1.09460,1.09366,1.09453,2460,8,0
2,1691004600,1.09454,1.09525,1.09420,1.09502,2402,8,0
3,1691006400,1.09502,1.09573,1.09500,1.09533,1812,8,0
4,1691008200,1.09533,1.09534,1.09457,1.09457,1302,8,0
...,...,...,...,...,...,...,...,...
235,1691596800,1.09812,1.09871,1.09800,1.09833,2624,8,0
236,1691598600,1.09833,1.09876,1.09712,1.09800,4184,8,0
237,1691600400,1.09800,1.09949,1.09773,1.09817,4386,8,0
238,1691602200,1.09817,1.09873,1.09765,1.09825,3853,8,0
239,1691604000,1.09825,1.09875,1.09762,1.09782,3091,8,0

In [ ]:


def awesome(df, shortSmaPeriod, longSmaPeriod):
    pass